<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}" />

    <title>Life Like Earth - Admin</title> 

    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/vendors/quill/quill.bubble.css">
    <link rel="stylesheet" href="/assets/vendors/quill/quill.snow.css">
    <link rel="stylesheet" href="/assets/vendors/chartjs/Chart.min.css">
    <link rel="stylesheet" href="assets/vendors/simple-datatables/style.css">

    <link rel="stylesheet" href="/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="/assets/js/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/datatables/buttons.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/js/datatables/select.bootstrap4.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/js/datatables/dataTables.checkboxes.css">
    <link rel="stylesheet" href="assets/vendors/choices.js/choices.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="/assets/js/jquery-2.2.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/super-build/ckeditor.js"></script>   

    <script type="text/javascript" src="/assets/js/datatables/pdfmake.min.js"></script>
    <script type="text/javascript" src="/assets/js/datatables/vfs_fonts.js"></script>
    <script type="text/javascript" src="/assets/js/datatables/jquery.dataTables.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/dataTables.bootstrap4.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/dataTables.buttons.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/buttons.bootstrap4.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/buttons.colVis.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/buttons.html5.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/buttons.print.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/dataTables.select.min.js">
    </script>
    <script type="text/javascript" src="/assets/js/datatables/sum().js"></script>
    <script type="text/javascript" src="/assets/js/datatables/dataTables.checkboxes.min.js">
    </script>

</head>

<body>
    <div id="app">
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header" style="margin-bottom:-1.5rem;">
                    <h1><a href="/admin/dashboard" style="color:#55BEFF; font-weight: bold; font-size:50px">Admin</a>
                    </h1>
                </div>
                <%- include('Sidebar')-%>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1 text-danger">
                                    <i data-feather="log-out"></i>
                                </div>
                                <a href="/admin/logout" class="d-none d-md-block d-lg-inline-block">Logout</a>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>