<div class="sidebar-menu">
  <ul class="menu">
    <li class="sidebar-title">Main Menu</li>
    <li class="sidebar-item">
      <a href="/admin/dashboard" class="sidebar-link">
        <i data-feather="home" width="20"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/admin/exoplanets" class="sidebar-link">
        <i data-feather="home" width="20"></i>
        <span>Exoplanet management</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/admin/exoplanets-quiz" class="sidebar-link">
        <i data-feather="home" width="20"></i>
        <span>Exoplanet Quiz</span>
      </a>
    </li>
    <li class="sidebar-item">
      <a href="/admin/clear-cache" class="sidebar-link text-secondary">
        <i data-feather="grid" width="20"></i>
        <span>Clear Cache</span>
      </a>
    </li>
  </ul>
</div>
